.list-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 10px 50px;
  margin: 30px;
  border-radius: 6px;
  background: #fff;
}

.listproduct-format-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}

.listproduct-allproducts {
  width: 100%;
  overflow-y: auto;
}

.listproduct-format {
  align-items: center;
  font-weight: 500;
}

.listproduct-product-icon {
  height: 80px;
}

.listproduct-remove-btn {
  cursor: pointer;
  margin: auto;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  background: #6079ff;
  color: #fff;
  width: 110px;
  height: 40px;
  font-size: 16px;
}

@media (max-width: 800px) {
  .list-product {
    box-sizing: border-box;
    width: 95%;
    padding: 10px 30px;
    margin: 20px auto;
  }
  .listproduct-format-main {
    padding: 15px 0px;
    color: #454545;
    font-size: 12px;
  }
  .listproduct-product-icon {
    height: 60px;
  }
  .listproduct-remove-btn {
    font-size: 12px;
    width: 60px;
    height: 30px;
  }
}
